.header-container{
    min-width: 100%;
    width: 100%;
    background: url(../../assets/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.container{
    padding-top: 3em;
    padding-bottom: 6em;
}

.heading-container {
    margin: 6em 0;
    border: 3px solid var(--White);
    max-width: 640px;
    background: transparent;
    padding: 2em;
    
}
.heading-container h1{
    font-size: 4rem;
    font-family: var(--ff-txt);
    text-transform: uppercase;
    color: var(--White);
}

/* MEDIA QUERY */


@media screen and (max-width:570px) {
    .heading-container{
        max-width: 440px;
    }
    .heading-container h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:440px) {
    .heading-container{
        max-width: 440px;
    }
    .heading-container h1{
        font-size: 2.5rem;
    }
}